@mixin flex($direction: row) {
  display: flex;
  flex-direction: direction;
  flex-wrap: wrap;
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin indent($margin:0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin margin-auto() {
    margin-right: auto;
    margin-left: auto;
}