.main-nav__flex {
    outline: 2px dashed crimson;

    box-sizing: border-box;
}

.main-nav__flex-logo {
    @include flex ($direction: row);
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.main-nav__toggle {
    font-size: 0;
    width: 24px;
    height: 18px;
    background-color: #222222;
}

.main-nav__list {
    @include list();
    @include flex ($direction: column);
    box-sizing: border-box;
}

.main-nav__item {
    outline: 2px dashed blue;
    width: 100%;
    text-align: center;
}

.main-nav__link {
    display: block;
    padding: 1em;
    color: $dark-color;
    text-decoration: none;

    &-hover,
    &:hover {
        opacity: 0.6;
    }
  
    &-focus,
    &:focus {
        opacity: 0.6;
    }
  
    &-active,
    &:active {
        opacity: 0.3;
    }
}


@media screen and (min-width: $desktop-width) {
    .main-nav {
        @include flex ($direction: row);
    }

    .main-nav__list {
        flex-direction: row;
    }

    .main-nav__flex-logo {
        max-width: 30%;
        margin-right: auto;
    }

    .main-nav__item {
        width: auto;
    }

    .main-nav__link--active {
        position: relative;
    }

    .main-nav__link--active::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 10%;
        width: 80%;
        height: 3px;
        background-color: $base-color;
    }
}
