.map {
  width: 100%;
  min-height: 645px;
  @include indent();
  // TODO: вcтавить интерактивную карту
  background-image: url("../../images/mobile/map-pin_mobile.png"),
    url("../../images/mobile/map.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 55% 50%, 0 0;
  background-size: auto, cover;
}

@media screen and (min-width: $desktop-width) {
  .map {
    max-height: 265px;
  }
}
