.page-header {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

@media screen and (min-width: $tablet-width) {

}

@media screen and (min-width: $desktop-width) {

}