.promo {
    padding: 9.375%;
    box-sizing: border-box;
    margin-bottom: 10%;
}

.promo__heading {
    color: $dark-color;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: $dark-color;
    font-size: 36px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 10%;
}

.promo__list {
    @include list();
    @include flex ($direction: column);
    box-sizing: border-box;
}

.promo__item {
    outline: 2px dashed purple;
    position: relative;
    padding: 2%;
    padding-left: 25%;
    box-sizing: border-box;
    margin-bottom: 5%;

    &::before {

    }
}

@media screen and (min-width: $tablet-width) {
    .promo {
        padding: 0;
        padding-right: 5%;
        padding-left: 5%;
    }

    .promo__heading {
        font-size: 60px;
        font-weight: 400;
        line-height: 1;
    }

    .promo__list {
        @include flex ($direction: row);
    }

    .promo__item {
        max-width: 50%;
        margin-bottom: 60px;
        padding-top: 10%;
        padding-left: 0;
        text-align: left;
        position: relative;

        min-height: 150px; // DELETE!
        // background-image: url();
    }

    .promo__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 22.3%;
        height: 32%;
        background-color: $base-color;
    }
}

@media screen and (min-width: $desktop-width) {
  .promo {
    margin-bottom: 5%;
  }

  .promo__heading {
    margin-bottom: 5%;
  }

  .promo__list {
    justify-content: space-between;
  }

  .promo__item {
    width: 220px;
    min-height: 230px;
    padding: 0;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: left;
    position: relative;


    // background-image: url();
  }
}
