.wrapper {
  min-width: $mobile-width;
  width: 100%;
  max-width: 100%;
  @include indent();
}

@media screen and (min-width: $desktop-width) {
  .wrapper--index {
    background-image: url("../../images/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50% 499px;
  }
}
