@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  outline: 3px dashed crimson;
  /*min-width: $mobile-width;*/
  width: 768px;
  margin-right: auto;
  margin-left: auto; }

.page-header {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .page-header {
    margin-bottom: 5%; } }

.page-footer {
  background-color: #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 9.375%;
  outline: 2px dashed crimson; }

.page-footer__logo {
  display: block;
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  color: black; }

.page-footer__social-list {
  outline: 2px dashed blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
  margin: auto;
  margin: 0;
  padding: 0;
  list-style: none; }

.page-footer__social-item {
  padding: 0.5em; }

.visible {
  display: block;
  width: 22px;
  height: 12px;
  background-color: crimson; }

.page-footer__copyright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.page-footer__copyright-link {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  padding: 0.5em; }

.main-nav__flex {
  outline: 2px dashed crimson;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-nav__flex-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em; }

.main-nav__toggle {
  font-size: 0;
  width: 24px;
  height: 18px;
  background-color: #222222; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-nav__item {
  outline: 2px dashed blue;
  width: 100%;
  text-align: center; }

.main-nav__link {
  display: block;
  padding: 1em;
  color: #333333;
  text-decoration: none; }
  .main-nav__link-hover, .main-nav__link:hover {
    opacity: 0.6; }
  .main-nav__link-focus, .main-nav__link:focus {
    opacity: 0.6; }
  .main-nav__link-active, .main-nav__link:active {
    opacity: 0.3; }

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .main-nav__flex-logo {
    max-width: 30%;
    margin-right: auto; }
  .main-nav__item {
    width: auto; }
  .main-nav__link--active {
    position: relative; }
  .main-nav__link--active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 80%;
    height: 3px;
    background-color: #68b738; } }

.presentation {
  width: 320px;
  background-color: #68b738;
  min-height: 490px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9.375%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.presentation__title {
  outline: 2px dashed crimson;
  color: #ffffff;
  /*font-family: "Oswald", Arial, Helvetica, sans-serif;*/
  font-size: 36px;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto; }

.presentation__promo-text {
  color: #ffffff;
  /*font-family: "Oswald", Arial, Helvetica, sans-serif;*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%; }

.presentation__can {
  outline: 2px dashed crimson;
  width: 280px;
  height: 270px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%; }

.presentation__button {
  outline: 2px dashed crimson;
  width: 100%;
  margin-bottom: 10%; }

@media screen and (min-width: 768px) {
  .presentation {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 800px;
    display: block;
    background-color: #ffffff;
    background-color: lightgreen;
    text-align: left; }
  .presentation__title {
    color: #333333;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    max-width: 410px;
    margin: 0;
    padding: 0.2em;
    padding-left: 0; }
  .presentation__promo-text {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5%; } }

.button {
  color: #ffffff;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center; }
  .button:hover, .button:focus {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

.product-types {
  width: 320px;
  padding: 9.375%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-types__target {
  outline: 2px dashed crimson;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9.375%;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto;
  background-color: #CCCCCC; }

.product-types__heading {
  outline: 2px dashed crimson;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%; }

.product-types__paragraph {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left; }

.product-types__target-link {
  position: relative;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none; }
  .product-types__target-link::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 105%;
    width: 24px;
    height: 11px;
    background-color: #333333; }

@media screen and (min-width: 768px) {
  .product-types {
    width: 100%;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%; }
  .product-types__target {
    outline: 2px dashed crimson;
    padding-left: 5%;
    padding-right: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    text-align: left; }
  .product-types__heading {
    font-size: 36px;
    margin-bottom: 10%;
    text-align: left;
    padding-left: 0; }
  .product-types__paragraph {
    margin-bottom: 10%; } }

.promo {
  padding: 9.375%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%; }

.promo__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 10%; }

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.promo__item {
  outline: 2px dashed purple;
  position: relative;
  padding: 2%;
  padding-left: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5%; }

.example {
  margin-bottom: 10%;
  background-color: #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9.375%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.example__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 10%; }

.example__paragraph {
  padding: 0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto; }

.example__table {
  outline: 2px dashed purple;
  margin-bottom: 5%;
  padding: 2%; }

.example__text {
  color: #333333;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.example_slider {
  outline: 3px dashed royalblue;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.example_slider-div {
  max-width: 100%;
  height: 232px;
  outline: 2px dashed crimson; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.contacts__ivite {
  outline: 3px dashed darkred;
  max-width: 50%;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase; }

.contacts__address {
  outline: 3px dashed darkslategray;
  max-width: 45%;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }

.map {
  outline: 3px dashed darkgreen;
  width: 100%;
  height: 645px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog__main {
  outline: 3px dashed purple;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
  padding: 0.2em; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.catalog__item {
  outline: 3px dashed blue;
  width: 100%;
  margin-bottom: 5%;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog__item-container,
.catalog__item-block {
  margin: 0;
  padding: 0; }

.catalog__item-container img {
  outline: 2px dashed red;
  width: 140px;
  height: auto; }

.catalog__item-container {
  width: 100%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.catalog__item-block {
  outline: 2px dashed red;
  max-width: calc(100% - 140px); }

.catalog__button {
  width: 100%;
  text-align: center; }

.catalog__item-heading a {
  display: block;
  padding: 0.5em;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none; }

.catalog__show {
  outline: 2px dashed red;
  min-height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.catalog__show-plus {
  outline: 2px dashed blue;
  position: relative;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0;
  width: 30px;
  height: 30px; }
  .catalog__show-plus::before, .catalog__show-plus::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: red; }
  .catalog__show-plus::before {
    top: 50%;
    left: 0; }
  .catalog__show-plus::after {
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.catalog__show-paragraph {
  outline: 2px dashed blue;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2%;
  padding: 0.5em;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.catalog__show-span {
  outline: 2px dashed red;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 5%;
  padding: 0.5em;
  color: #444444;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.catalog__show .catalog__show-button {
  color: #444444;
  background-color: #CCCCCC;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

.catalog__gift {
  background-color: #68b738;
  max-width: 80%;
  min-height: 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  padding: 10%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.catalog__gift-text {
  outline: 2px dashed crimson;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 80%;
  padding: 0.2em; }

.extra {
  outline: 3px dashed purple;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5%; }

.extra__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em; }

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.extra__item {
  outline: 2px dashed blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.extra__item-heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase; }

.extra__table {
  outline: 2px dashed blue;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 5%; }

.extra__table-cell {
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.extra__button {
  width: 100%;
  text-align: center; }

.order__block {
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__heading {
  color: #111111;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0.5em;
  margin: 0; }

.order__paragraph {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 0;
  margin-bottom: 2%; }

/*----------FORM---------------------*/
::-webkit-input-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

::-moz-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

.order__form {
  outline: 3px dashed green;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-fieldset {
  outline: 3px dashed blue;
  border: 0 none;
  padding: 0;
  padding-bottom: 5%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%; }

.order__form-legend {
  position: relative;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; }

.order__form-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.order__form-field {
  width: 100%;
  margin: 0;
  margin-bottom: 2%;
  padding: 0; }

.order__form-block {
  outline: 2px dashed fuchsia;
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-label {
  color: #222222;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase; }

.order__form-block--name label {
  margin: 0;
  padding: 0.5em;
  padding-left: 0;
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: hotpink; }

.order__form-name {
  padding: 0.5em;
  background-color: lawngreen; }

/*-----------------radio-------------------------------------*/
.order__form-radio {
  opacity: 0; }

.order__form-label--radio {
  position: relative;
  display: block;
  padding: 0.5em;
  padding-left: 3em; }
  .order__form-label--radio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: transparent; }

.order__form-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 24%;
  left: 4%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738; }

/*----------contacts-----------------------------------------*/
.order__form-block--contacts {
  /*@include flex($direction: row);*/
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-block--contacts label {
  /*display: block;*/
  margin: 0;
  padding: 0.5em;
  padding-left: 0;
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: hotpink; }

.order__form-contact {
  padding: 0.5em;
  background-color: lawngreen; }

/*---------------textarea-------------------------------------*/
.order__form-block--textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.order__form-habits {
  width: 100%;
  margin: 0;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-textarea label {
  display: block;
  margin-bottom: 5%; }

/*-----------checkbox - Дополнительно------------------------*/
.order__form-checkbox {
  opacity: 0; }

.order__form-label--checkbox {
  position: relative;
  display: block;
  padding: 0.5em;
  padding-left: 3em; }
  .order__form-label--checkbox::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-color: transparent; }

/*
.order__form-checkbox:checked + label::before {
    
}
*/
/*---------------FORM-FOOTER--------------------*/
.order__form-button {
  width: 100%;
  margin-bottom: 2%; }

.order__text-small {
  margin: 0;
  margin-bottom: 5%;
  padding: 0.5em;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 10%; }

/*# sourceMappingURL=style.css.map */
