@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  outline: 3px dashed crimson;
  /*min-width: $mobile-width;*/
  width: 1150px;
  margin-right: auto;
  margin-left: auto; }

@media screen and (min-width: 1150px) {
  .wrapper {
    background-image: url("../../images/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50% 499px; } }

.page-header {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .page-header {
    margin-bottom: 5%;
    padding-left: 70px;
    padding-right: 70px; } }

.page-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media screen and (min-width: 768px) {
  .page-main {
    padding: 0; } }

.page-footer {
  background-color: #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 9.375%;
  outline: 2px dashed crimson; }

.page-footer__logo {
  display: block;
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  color: black; }

.page-footer__social-list {
  outline: 2px dashed blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
  margin: auto;
  margin: 0;
  padding: 0;
  list-style: none; }

.page-footer__social-item {
  padding: 0.5em; }

.visible {
  display: block;
  width: 22px;
  height: 12px;
  background-color: crimson; }

.page-footer__copyright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.page-footer__copyright-link {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  padding: 0.5em; }

@media screen and (min-width: 1150px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .page-footer__container {
    max-width: 20%;
    padding: 5%; } }

.main-nav__flex {
  outline: 2px dashed crimson;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-nav__flex-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em; }

.main-nav__toggle {
  font-size: 0;
  width: 24px;
  height: 18px;
  background-color: #222222; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-nav__item {
  outline: 2px dashed blue;
  width: 100%;
  text-align: center; }

.main-nav__link {
  display: block;
  padding: 1em;
  color: #333333;
  text-decoration: none; }
  .main-nav__link-hover, .main-nav__link:hover {
    opacity: 0.6; }
  .main-nav__link-focus, .main-nav__link:focus {
    opacity: 0.6; }
  .main-nav__link-active, .main-nav__link:active {
    opacity: 0.3; }

@media screen and (min-width: 1150px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .main-nav__flex-logo {
    max-width: 30%;
    margin-right: auto; }
  .main-nav__item {
    width: auto; }
  .main-nav__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
    color: #ffffff; }
  .main-nav__link--active {
    position: relative; }
  .main-nav__link--active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: #68b738; } }

.presentation {
  width: 320px;
  background-color: #68b738;
  min-height: 490px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9.375%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.presentation__title {
  color: #ffffff;
  /*font-family: "Oswald", Arial, Helvetica, sans-serif;*/
  font-size: 36px;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto; }

.presentation__promo-text {
  color: #ffffff;
  /*font-family: "Oswald", Arial, Helvetica, sans-serif;*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%; }

.presentation__can {
  width: 280px;
  height: 270px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%; }

.presentation__button {
  width: 100%;
  margin-bottom: 10%; }

@media screen and (min-width: 768px) {
  .presentation {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 800px;
    display: block;
    background-color: #ffffff;
    text-align: left; }
  .presentation__title {
    color: #333333;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    max-width: 410px;
    margin: 0;
    padding: 0.2em;
    padding-left: 0; }
  .presentation__promo-text {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5%; } }

@media screen and (min-width: 1150px) {
  .presentation {
    position: relative;
    min-height: 384px;
    background-color: transparent;
    padding: 0 70px;
    margin-bottom: 70px; }
  .presentation__can {
    position: absolute;
    width: 402px;
    height: 349px;
    top: -10%;
    left: 45%; }
  .presentation__title {
    max-width: 500px;
    font-size: 60px;
    margin: 0;
    padding: 0.2em;
    padding-left: 0;
    z-index: 10; } }

.button {
  color: #ffffff;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  -webkit-box-shadow: 0 none;
          box-shadow: 0 none;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center; }
  .button:hover, .button:focus {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

.product-types {
  width: 320px;
  padding: 9.375%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-types__target {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9.375%;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto;
  background-color: #CCCCCC; }

.product-types__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%; }

.product-types__paragraph {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left; }

.product-types__target-link {
  position: relative;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none; }
  .product-types__target-link::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 105%;
    width: 24px;
    height: 11px;
    background-color: #333333; }

@media screen and (min-width: 768px) {
  .product-types {
    width: 100%;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%; }
  .product-types__target {
    padding-left: 5%;
    padding-right: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    text-align: left; }
  .product-types__heading {
    font-size: 36px;
    margin-bottom: 10%;
    text-align: left;
    padding-left: 0; }
  .product-types__paragraph {
    margin-bottom: 10%; } }

@media screen and (min-width: 1150px) {
  .product-types {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product-types__target {
    max-width: 45%;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .product-types__heading {
    position: relative;
    text-align: center;
    padding-left: 100px; }
    .product-types__heading::before {
      content: "";
      position: absolute;
      top: -50%;
      left: 0;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat; }
  .product-types__target--slim .product-types__heading::before {
    background-image: url("../../images/cat1-desctop.png"); }
  .product-types__target--pro .product-types__heading::before {
    background-image: url("../../images/cat2-desctop.png");
    width: 134px; } }

.promo {
  padding: 9.375%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%; }

.promo__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 10%; }

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.promo__item {
  outline: 2px dashed purple;
  position: relative;
  padding: 2%;
  padding-left: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5%; }

@media screen and (min-width: 768px) {
  .promo {
    padding: 0;
    padding-right: 5%;
    padding-left: 5%; }
  .promo__heading {
    font-size: 60px;
    font-weight: 400;
    line-height: 1; }
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .promo__item {
    max-width: 50%;
    margin-bottom: 60px;
    padding-top: 10%;
    padding-left: 0;
    text-align: left;
    position: relative;
    min-height: 150px; }
  .promo__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.3%;
    height: 32%;
    background-color: #68b738; } }

@media screen and (min-width: 1150px) {
  .promo {
    margin-bottom: 5%; }
  .promo__heading {
    margin-bottom: 5%; }
  .promo__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .promo__item {
    width: 220px;
    min-height: 230px;
    padding: 0;
    padding-top: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    position: relative; } }

.example {
  margin-bottom: 10%;
  background-color: #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9.375%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.example__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 10%; }

.example__paragraph {
  padding: 0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto; }

.example__table {
  margin-bottom: 5%;
  padding: 2%; }

.example__text {
  color: #333333;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.example_slider {
  outline: 3px dashed royalblue;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.example_slider-div {
  max-width: 100%;
  height: 232px; }

@media screen and (min-width: 768px) {
  .example {
    display: block;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%; }
  .example__heading {
    font-size: 60px;
    font-weight: 400;
    line-height: 1; }
  .example__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left; }
  .example__tablet-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .example__table-row--top td {
    border: 1px solid plum;
    margin-right: 30px; }
  .example__table-cell--number {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase; }
  .example__table-cell--text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1; }
  .example__text {
    margin-bottom: 0;
    margin-right: 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    max-width: 200px;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  .example_slider-toggle {
    outline: 2px dashed red;
    width: 100%; } }

@media screen and (min-width: 1150px) {
  .example {
    padding: 0;
    margin-bottom: 0; }
  .example__heading {
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    padding: 70px;
    margin: 0; }
  .example__paragraph {
    max-width: 430px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 55%; }
  .example__tablet-container {
    outline: 2px dashed purple;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 50%;
    margin-bottom: 0; }
  .example__text {
    width: 100%;
    max-width: 100%;
    text-align: center; }
  .example__tablet-container,
  .example_slider {
    background-color: #CCCCCC; }
  .example__table {
    margin-bottom: 0; }
  .example_slider {
    outline: 3px dashed royalblue;
    max-width: 49%;
    margin-bottom: 0;
    margin-left: 50%;
    margin-top: -25%; } }

.flex-container {
  margin: 0;
  padding: 0; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.contacts__ivite {
  max-width: 50%;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase; }

.contacts__address {
  outline: 3px dashed darkslategray;
  max-width: 45%;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }

@media screen and (min-width: 768px) {
  .contacts {
    padding: 40px 60px; }
  .cat .contacts,
  .fm .contacts {
    background-color: lightblue; }
  .contacts p {
    outline: 3px dashed darkslategray; }
  .contacts__ivite {
    max-width: 154px;
    text-align: left;
    margin-right: auto; }
  .contacts__address {
    max-width: 153px;
    text-align: right;
    margin-left: auto; } }

@media screen and (min-width: 1150px) {
  .flex-container {
    position: relative; }
  .contacts {
    outline: 3px dashed darkslategray;
    position: absolute;
    width: 570px;
    height: 201px;
    padding: 45px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 30px;
    left: 110px; } }

.map {
  outline: 3px dashed darkgreen;
  width: 100%;
  height: 645px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media screen and (min-width: 1150px) {
  .map {
    max-height: 265px; } }

.catalog__main {
  outline: 3px dashed purple;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
  padding: 0.2em; }

.catalog__list {
  outline: 3px dashed blue;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.catalog__item {
  outline: 3px dashed red;
  width: 100%;
  margin-bottom: 5%;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog__item-container,
.catalog__item-block {
  margin: 0;
  padding: 0; }

.catalog__item-container img {
  outline: 2px dashed red;
  width: 140px;
  height: auto; }

.catalog__item-container {
  width: 100%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.catalog__item-block {
  outline: 2px dashed red;
  max-width: calc(100% - 140px); }

.catalog__button {
  width: 100%;
  text-align: center; }

.catalog__item-heading a {
  display: block;
  padding: 0.5em;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none; }

.catalog__show {
  outline: 2px dashed red;
  min-height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.catalog__show-plus {
  outline: 2px dashed blue;
  position: relative;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0;
  width: 30px;
  height: 30px; }
  .catalog__show-plus::before, .catalog__show-plus::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: red; }
  .catalog__show-plus::before {
    top: 50%;
    left: 0; }
  .catalog__show-plus::after {
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.catalog__show-paragraph {
  outline: 2px dashed blue;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2%;
  padding: 0.5em;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.catalog__show-span {
  outline: 2px dashed red;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 5%;
  padding: 0.5em;
  color: #444444;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.catalog__show .catalog__show-button {
  color: #444444;
  background-color: #CCCCCC;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

@media screen and (min-width: 768px) {
  .catalog__main {
    padding: 0; }
  .catalog__heading {
    font-size: 60px;
    font-weight: 400;
    line-height: 1; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 80px; }
  .catalog__item {
    max-width: 50%;
    max-width: 324px;
    margin-bottom: 15%;
    position: relative;
    padding: 30px;
    padding-top: 160px;
    background-color: lightblue; }
  .catalog__item--last {
    padding-top: 30px; }
  .catalog__item-container img {
    position: absolute;
    top: 10%;
    left: 25%; }
  .catalog__item-block {
    width: 100%;
    max-width: 100%;
    text-align: center; }
  .catalog__item-table {
    background-color: lightcoral;
    width: 100%; }
  .catalog__show {
    max-width: 100%;
    height: 100%; }
  .catalog__show .catalog__show-button {
    margin-bottom: 0;
    margin-top: auto; }
  .catalog__show-span {
    font-size: 16px;
    font-weight: 400;
    max-width: 165px;
    text-align: center; }
  .catalog__show-plus {
    width: 100%;
    height: 60px; }
    .catalog__show-plus::before, .catalog__show-plus::after {
      width: 60px; }
  .catalog__show-paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 133px; }
  .catalog__button {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; } }

.catalog__gift {
  background-color: #68b738;
  max-width: 80%;
  min-height: 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  padding: 10%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.catalog__gift-text {
  outline: 2px dashed crimson;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 80%;
  padding: 0.2em; }

@media screen and (min-width: 768px) {
  .catalog__gift {
    width: 100%;
    max-width: 100%;
    padding: 60px 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 70px; }
  .catalog__gift-text {
    max-width: 159px;
    margin-right: 0;
    margin-top: 0; } }

.extra {
  outline: 3px dashed purple;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5%; }

.extra__tablet-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.extra__heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em; }

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.extra__item {
  outline: 2px dashed blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.extra__item-heading {
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase; }

.extra__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 5%; }

.extra__table-cell {
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.extra__button {
  width: 100%;
  text-align: center; }

@media screen and (min-width: 768px) {
  .extra {
    padding: 0;
    margin-bottom: 70px; }
  .extra__heading {
    font-size: 36px;
    font-weight: 400;
    line-height: 1; }
  .extra__tablet-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .extra__item {
    padding: 30px;
    margin-bottom: 0; }
  .extra__table {
    max-width: 30%;
    margin-bottom: 0; } }

.order__block {
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__heading {
  color: #111111;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0.5em;
  margin: 0; }

.order__paragraph {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 0;
  margin-bottom: 2%; }

/*----------FORM---------------------*/
::-webkit-input-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

::-moz-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

.order__form {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-fieldset {
  border: 0 none;
  padding: 0;
  padding-bottom: 5%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%; }

.order__form-legend {
  position: relative;
  color: #333333;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; }

.order__form-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.order__form-field {
  width: 100%;
  margin: 0;
  margin-bottom: 2%;
  padding: 0; }

.order__form-block {
  outline: 2px dashed fuchsia;
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-label {
  color: #222222;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase; }

.order__form-block--name label {
  margin: 0;
  padding: 0.5em;
  padding-left: 0;
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: hotpink; }

.order__form-name {
  padding: 0.5em;
  background-color: lawngreen; }

/*-----------------radio-------------------------------------*/
.order__form-radio {
  opacity: 0; }

.order__form-label--radio {
  position: relative;
  display: block;
  padding: 0.5em;
  padding-left: 3em; }
  .order__form-label--radio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: transparent; }

.order__form-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 24%;
  left: 4%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738; }

/*----------contacts-----------------------------------------*/
.order__form-block--contacts {
  /*@include flex($direction: row);*/
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-block--contacts label {
  /*display: block;*/
  margin: 0;
  padding: 0.5em;
  padding-left: 0;
  color: #444444;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: hotpink; }

.order__form-contact {
  padding: 0.5em;
  background-color: lawngreen; }

/*---------------textarea-------------------------------------*/
.order__form-block--textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: direction;
          flex-direction: direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.order__form-habits {
  width: 100%;
  margin: 0;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.order__form-textarea label {
  display: block;
  margin-bottom: 5%; }

/*-----------checkbox - Дополнительно------------------------*/
.order__form-checkbox {
  opacity: 0; }

.order__form-label--checkbox {
  position: relative;
  display: block;
  padding: 0.5em;
  padding-left: 3em; }
  .order__form-label--checkbox::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-color: transparent; }

/*
.order__form-checkbox:checked + label::before {

}
*/
/*---------------FORM-FOOTER--------------------*/
.order__form-button {
  width: 100%;
  margin-bottom: 2%; }

.order__text-small {
  margin: 0;
  margin-bottom: 5%;
  padding: 0.5em;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 10%; }

@media screen and (min-width: 768px) {
  .order {
    width: 100%; }
  .order__form-add {
    width: 100%;
    margin: 0; }
    .order__form-add .order__form-field {
      max-width: 50%;
      padding: 50px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .order__block {
    padding: 0; }
  .order__form {
    min-width: 100%; }
  .order__heading {
    font-size: 60px;
    font-weight: 400; }
  .order__paragraph {
    max-width: 50%;
    font-size: 20px;
    margin-left: 70px;
    font-weight: 400; }
  .order__form-block--name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .order__form-name {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: none;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd; }
  .order__form-block--name label {
    margin-right: 20px; }
  .order__form-fieldset--name,
  .order__form-fieldset--target {
    padding: 70px; }
  .order__form-radio:checked + label::after {
    top: 26%;
    left: 1.8%; }
  .order__form-block--target {
    margin: 0;
    padding: 2%;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd; }
  .order__form-fieldset--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .order__form-fieldset--contacts label {
    margin-right: 20px; }
  .order__form-block--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px; }
  .order__form-contact {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .order__form-block--textarea {
    margin: 0;
    padding-bottom: 0; }
  .order__form-fieldset {
    padding-bottom: 5%;
    margin-bottom: 0; }
  .order__form-habits {
    max-width: 82%;
    max-height: 174px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; }
  .order__form-textarea .order__form-legend {
    width: 100%;
    margin-bottom: 50px; }
  .order__form-legend,
  .order__form-textarea .order__form-legend {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .order__form-legend::before, .order__form-legend::after,
    .order__form-textarea .order__form-legend::before,
    .order__form-textarea .order__form-legend::after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #68b738; }
    .order__form-legend::after,
    .order__form-textarea .order__form-legend::after {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  .order__form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 70px; }
  .order__form-label--checkbox {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase; }
  .order__form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: direction;
            flex-direction: direction;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 70px; }
  .order__form-button {
    max-width: 50%;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5em 1em; }
  .order__text-small {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2; } }

/*# sourceMappingURL=style.css.map */
